body {
  background: url('./burger-shake.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.heading {
  text-align: center;
  font-size: 2.5em;
}
